@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">

        <h2>Sweet piza</h2>
        <img src="~/Content/dessert-vegan-pizza.jpg" height="200" width="200">
        <p> It's a vegan desert pizza</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delivery &raquo;</a></p>
        <h2>Clasic</h2>
        <img src="~/Content/pizza.jpeg" height="200" width="200">
        <p>Your lovely clasi</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delivery &raquo;</a></p>
        <h2>Say cheeeeseeee</h2>
        <img src="~/Content/images.jpg" height="200" width="200">
        <p>Your new love</p>
      
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delivery &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <h2>Pineapple piza</h2>
        <img src="~/Content/c700x420.jpg" height="200" width="200">
        <p>Your lovely fruit</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delivery &raquo;</a></p>
        <h2>Pineapple piza</h2>
        <img src="~/Content/c700x420.jpg" height="200" width="200">
        <p>Your lovely fruit</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delivery &raquo;</a></p>
        <h2>Pineapple piza</h2>
        <img src="~/Content/c700x420.jpg" height="200" width="200">
        <p>Your lovely fruit</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delivery &raquo;</a></p>
        
      
    </div>
    <div class="col-md-4">
        <h2>Get more pizzzaas</h2>
        <p>Our high quality piza can make you happy.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">To card &raquo;</a></p>

        <h2>Make your own piza!!!</h2>
        <p>You can easily find your favourite ingridiens and combine all in one piza.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Create! &raquo;</a></p>
    </div>
</div>